<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="nav d-flex bg-dark text-white w-100 justify-content-between">
      <div>
        <%= link_to "home", articles_path, class: "btn text-white" %>
        <%= link_to "new article", new_article_path, class: "btn text-white" %>
      </div>
      <div>
        <% if @article %>
          <%= link_to "edit", edit_article_path(@article), class: "btn text-white" %>
          <%= link_to "delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn text-white" %>
        <% end %>
      </div>
    </div>

    <div class="container d-flex flex-column align-items-center">
    <h1 class = "m-4">WikiWorld</h1>
    <%= yield %>
    </div>
  </body>
</html>
